<%= form_with(model: service) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
        <% service.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
    <div class="field form-group">
      <%= form.label :title %>
      <div class="form-group">
        <%= form.text_field :title %>
      </div>
    </div>

    <div class="field form-group">
      <%= form.label :description %>
      <div class="form-group">
        <%= form.text_field :description %>
      </div>
    </div>

    <div class="field form-group">
      <%= form.label :zipcode %>
      <div class="form-group">
        <%= form.number_field :zipcode %>
      </div>
    </div>

    <div class="field form-group">
      <%= form.label :length_of_time %>
      <div class="form-group">
        <%= form.number_field :length_of_time %>
      </div>
    </div>

    <div class="field form-group">
      <%= form.label :user_id %>
      <div class="form-group">
        <%= form.text_field :user_id %>
      </div>
    </div>

    <div class="actions text-center">
      <%= form.submit %>
    </div>
  </div>
<% end %>

