<h1>Services</h1>

<div class="mx-auto text-center">
  <% if session[:user_id]  %>
    <%= link_to 'Create a service', new_service_path, class: "btn btn-secondary" %>
  <% else %>
    <%= link_to 'Login to create service', login_path, class: "btn btn-secondary" %>
  <% end %>  
</div>
<br>

<div class="service-feed">
  <ul class="list-group">
    <% @services.each do |service| %>
      <li class="list-group-item">
        <%= link_to service do %>
          <div class="service-feed-item">
            <div class="service-feed-title">
              <span><%= service.title %></span>            
            </div>
            <div class="service-feed-author">
              <span><%= service.user.username %></span>
            </div>
            <div class="service-feed-created-at">
              <span><%= service.created_at %></span>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
  <div class="service-feed-nav">
    <%== pagy_bootstrap_nav(@pagy) %>  
  </div>
</div>
<br>

