<p id="notice"><%= notice %></p>
<h1>Services</h1>

<br>
<div class="mx-auto text-center">
  <a class="btn btn-outline-secondary btn-lg" href=/services/new role="button">Create a service</a>
</div>
<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Availability</th>
      <th scope="col">Description</th>
      <th scope="col">Title</th>
      <th scope="col">Zipcode</th>
      <th scope="col">Title</th>
      <th scope="col">User</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @services.each do |service| %>
      <tr>
        <th scope="row">1</th>
        <td><%= service.availability %></td>
        <td><%= service.description %></td>
        <td><%= service.title %></td>
        <td><%= service.zipcode %></td>
        <td><%= service.title %></td>
        <td><%= service.user_id %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

