<%= form_with(model: booking) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :service %>
    <%= form.text_field :service %>
  </div>

  <div class="field">
    <%= form.label :user %>
    <%= form.text_field :user %>
  </div>

  <div class="field">
    <%= form.label :booking_start_time %>
    <%= form.datetime_select :booking_start_time %>
  </div>

  <div class="field">
    <%= form.label :booking_end_time %>
    <%= form.datetime_select :booking_end_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
