<p id="notice"><%= notice %></p>

<p>
  <strong>Service:</strong>
  <%= @booking.service %>
</p>

<p>
  <strong>User:</strong>
  <%= @booking.user %>
</p>

<p>
  <strong>Booking time:</strong>
  <%= @booking.booking_time %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
