<p id="notice"><%= notice %></p>

<p>
  <strong>Service:</strong>
  <%= @booking.service_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @booking.user_id %>
</p>

<p>
  <strong>Booking  Start time:</strong>
  <%= @booking.booking_start_time %>
</p>

<p>
  <strong>Booking End time:</strong>
  <%= @booking.booking_end_time %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
