<%= form_with scope: :user, url: register_path do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group text-center">
    <%= form.label :username, class: "control-label" %>
    <%= form.text_field :username, class: "form-control" %>
  </div>

  <div class="form-group text-center">
    <%= form.label :password, class: "control-label" %>
    <%= form.password_field :password, class: "form-control" %>
  </div>
  
  <div class="form-group text-center">
    <%= form.label :password_confirmation, class: "control-label" %>
    <%= form.password_field :password_confirmation, class: "form-control" %>
  </div>

  <div class="actions text-center">
    <%= form.submit "Register", class: "btn btn-default btn-primary" %>
  </div>
<% end %>
