<%= form_with(model: appointment) do |form| %>
  <% errors = [] %>
  <% appointment.each { |a| errors << a.errors } %>
  <% errors.flatten() %>
  <% if errors.length > 0 %>
    <div id="error_explanation">
      <h2> An error occurred while generating appointments. </h2>

      <ul>
        <% errors.each do |error| %>
          <li><%= error.full_messages %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.time_select :start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.time_select :end_time %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.text_field :duration %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
