<h1>My Appointments</h1>
<br> 

<div class="container-xl">
  <div class="row">
    <div class="col-xl">
      <h3>Appointments For Your Services</h3>
      <% if @booked.empty? %>
        <p class="appointment-empty-message"> You have no booked appointments for your services. </p>
      <% else %>
        <ul class="list-group">
          <% @booked.each do |appointment| %>
            <li class="list-group-item">
                <div class="appointment">
                  <div class="appointment-title">
                    <span><%= appointment.service.title %></span>            
                  </div>
                  <div class="appointment-author">
                    <span>With: <%= User.find(appointment.user_id).username %> </span>            
                  </div>
                  <div class="appointment-date">
                    <% meridian = (appointment.start_time.hour < 12 && appointment.end_time.hour >=12) %>
                    <% date_str = appointment.date.strftime("%A, %B %-d, %Y") %>
                    <% start_time = meridian ? appointment.start_time.strftime("%l:%M %P") : appointment.start_time.strftime("%l:%M") %>
                    <% end_time = appointment.end_time.strftime("%l:%M %P") %>
                    <span><%= "#{date_str} • #{start_time} - #{end_time}" %></span>            
                  </div>
                  <div class="appointment-buttons">
                  <%= link_to 'Decline', 
                    service_appointment_path(appointment.service.id, appointment, :do_action => :decline),
                    method: :patch, class: "btn btn-secondary btn-sm btn-block",
                    data: {confirm: 'Are you sure you want to decline this appointment? This appointment slot will become available.'} %>
                  <%= link_to 'Delete', 
                    service_appointment_path(appointment.service.id, appointment), 
                    method: :delete, class: "btn btn-danger btn-sm btn-block",
                    data: {confirm: 'Are you sure you want to cancel this appointment? This slot is already booked and will be removed.'} %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
        <div class="service-feed-nav">
          <%== pagy_bootstrap_nav(@pagy_booked) %>
        </div>
      <% end %>
    </div>
    <div class="col-xl">
      <h3>Services You Booked</h3>
      <% if @appointments.empty? %>
        <p class="appointment-empty-message"> You have no booked appointments for your services. </p>
      <% else %>
        <ul class="list-group">
          <% @appointments.each do |appointment| %>
            <li class="list-group-item">
              <div class="appointment">
                <div class="appointment-title">
                  <span><%= appointment.service.title %></span>            
                </div>
                <div class="appointment-author">
                  <span>With: <%= appointment.service.user.username %></span>            
                </div>
                <div class="appointment-date">
                  <% meridian = (appointment.start_time.hour < 12 && appointment.end_time.hour >=12) %>
                  <% date_str = appointment.date.strftime("%A, %B %-d, %Y") %>
                  <% start_time = meridian ? appointment.start_time.strftime("%l:%M %P") : appointment.start_time.strftime("%l:%M") %>
                  <% end_time = appointment.end_time.strftime("%l:%M %P") %>
                  <span><%= "#{date_str} • #{start_time} - #{end_time}" %></span>            
                </div>
                <div class="appointment-buttons">
                  <%= link_to 'Cancel', 
                    service_appointment_url(appointment.service.id, appointment, :do_action => :cancel), 
                    method: :patch, class: "btn btn-danger btn-sm mt-3 btn-block",
                    data: {confirm: 'Are you sure you want to cancel this appointment? This slot is already booked.'} %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
        <div class="service-feed-nav">
          <%== pagy_bootstrap_nav(@pagy_appointments) %>  
        </div>
      <% end %>
    </div>
  </div>
</div>
