<h1>My Appointments</h1>

<div class="mx-auto text-center">
  <%= link_to 'Switch to Service Provider View', appointments_url(:view => :provider), class: "btn btn-primary" %>
</div>
<br> 

<div class="container-xl">
  <div class="row">
    <div class="col-xl">
      <h3>Upcoming Appointments</h3>
      <% if @appointments_future.empty? %>
        <p class="appointment-empty-message"> You have no upcoming appointments booked for other services. </p>
      <% else %>
        <ul class="list-group">
          <% @appointments_future.each do |appointment| %>
            <li class="list-group-item">
              <%= link_to appointment.service do %>
                <div class="appointment">
                  <%= render 'list_entry', appointment: appointment %>
                  <div class="appointment-buttons">
                    <%= link_to 'Reschedule', 
                      service_appointments_url(appointment.service.id, :reschedule => appointment.id), 
                      class: "btn btn-secondary btn-sm btn-block" %>
                    <%= link_to 'Cancel', 
                      service_appointment_url(appointment.service.id, appointment, :do_action => :cancel), 
                      method: :patch, class: "btn btn-danger btn-sm btn-block",
                      data: {confirm: 'Are you sure you want to cancel this appointment? This will make this appointment slot available to other users.'} %>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
        <div class="service-feed-nav">
          <%== pagy_bootstrap_nav(@pagy_appointments_future) %>
        </div>
      <% end %>
    </div>
    <div class="col-xl">
      <h3>Past Appointments</h3>
      <% if @appointments_past.empty? %>
        <p class="appointment-empty-message"> You have no past appointments for other services. </p>
      <% else %>
        <ul class="list-group">
          <% @appointments_past.each do |appointment| %>
            <li class="list-group-item">
              <%= link_to appointment.service do %>
                <div class="appointment">
                  <%= render 'list_entry', appointment: appointment %>
                  <div class="appointment-buttons">
                    <%= link_to 'Add Review', 
                      new_service_review_url(appointment.service), 
                      class: "btn btn-primary btn-sm mt-3 btn-block" %>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
        <div class="service-feed-nav">
          <%== pagy_bootstrap_nav(@pagy_appointments_past) %>  
        </div>
      <% end %>
    </div>
  </div>
</div>