<h1>Manage Appointments</h1>

<div class="mx-auto text-center">
  <% if !params[:service_id].nil? %>
    <%= link_to 'Back', @service, class: "btn btn-secondary" %>
    <%= link_to 'Generate Appointments', new_service_appointment_path(@service), class: "btn btn-primary" %>
  <% else %>
    <%= link_to 'Switch to Client View', appointments_url(), class: "btn btn-primary" %>
  <% end %>
</div>

<br>

<div class="container-xl">
  <div class="row">
    <div class="col-xl">
      <h3>Booked Appointments</h3>
      <% if @booked.empty? %>
        <p class="appointment-empty-message"> 
          There are no booked appointments for <%= params[:service_id] != nil ? "this service" : "your services" %> at the moment. 
        </p>
      <% else %>
        <ul class="list-group">
          <% @booked.each do |appointment| %>
            <li class="list-group-item">
              <% if params[:service_id].nil? %>
                <%= link_to appointment.service do %>
                  <%= render 'manage_booked', appointment: appointment %>
                <% end %>
              <% else %>
                <%= render 'manage_booked', appointment: appointment %>
              <% end %>
            </li>
          <% end %>
        </ul>
        <div class="service-feed-nav">
          <%== pagy_bootstrap_nav(@pagy_booked) %>
        </div>
      <% end %>
    </div>
    <div class="col-xl">
      <h3>Available Appointments</h3>
      <% if @appointments.empty? %>
        <p class="appointment-empty-message"> 
          There are no available appointment slots for <%= params[:service_id] != nil ? "this service" : "your services" %> at the moment. 
        </p>
      <% else %>
        <ul class="list-group">
          <% @appointments.each do |appointment| %>
            <li class="list-group-item">
              <% if params[:service_id].nil? %>
                <%= link_to appointment.service do %>
                  <%= render 'manage_avail', appointment: appointment %>
                <% end %>
              <% else %>
                <%= render 'manage_avail', appointment: appointment %>
              <% end %>
            </li>
          <% end %>
        </ul>
        <div class="service-feed-nav">
          <%== pagy_bootstrap_nav(@pagy_appointments) %>  
        </div>
      <% end %>
    </div>
  </div>
</div>

