<h1>Manage Appointments for <%= @service.title %></h1>

<div class="mx-auto text-center">
  <%= link_to 'Back', @service, class: "btn btn-secondary" %>
  <%= link_to 'Generate Appointments', new_service_appointment_path(@service), class: "btn btn-primary" %>
</div>

<br>

<div class="appointments-feed">
  <h3>Booked Appointments</h3>
  <ul class="list-group">
    <% if @booked.empty? %>
      <p> There are no booked appointments for this service at the moment. </p>
    <% end %>
    <% @booked.each do |appointment| %>
      <li class="list-group-item">
        <div class="appointment-feed-item">
          <% meridian = (appointment.start_time.hour < 12 && appointment.end_time.hour >=12) %>
          <% date_str = appointment.date.strftime("%A, %B %-d, %Y") %>
          <% start_time = meridian ? appointment.start_time.strftime("%l:%M %P") : appointment.start_time.strftime("%l:%M") %>
          <% end_time = appointment.end_time.strftime("%l:%M %P") %>
          <div class="appointment-feed-date">
            <span><%= date_str %></span>            
          </div>
          <div class="appointment-feed-time">
            <span><%= "#{start_time} - #{end_time}" %></span>
          </div>
          <div class="appointment-feed-client">
            <span>Booked by: <%= User.find(appointment.user_id).username %></span>
          </div>
          <%= link_to 'Decline Appointment', 
            "#{appointment_path(appointment)}?service_id=#{@service.id}&do_action=decline", 
            method: :patch, class: "btn btn-secondary",
            data: {confirm: 'Are you sure you want to decline this appointment? This appointment slot will become available.'} %>
          <%= link_to 'Cancel Appointment', 
            "#{appointment_path(appointment)}?service_id=#{@service.id}", 
            method: :delete, class: "btn btn-danger",
            data: {confirm: 'Are you sure you want to cancel this appointment? This slot is already booked.'} %>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<br> 

<div class="appointments-feed">
  <h3>Available Appointments</h3>
  <ul class="list-group">
    <% if @appointments.empty? %>
      <p> There are no available appointment slots for this service at the moment. </p>
    <% end %>
    <% @appointments.each do |appointment| %>
      <li class="list-group-item">
        <%= link_to appointment, method: :patch, data: {confirm: 'Are you sure?'} do %>
          <div class="appointment-feed-item">
            <% meridian = (appointment.start_time.hour < 12 && appointment.end_time.hour >=12) %>
            <% date_str = appointment.date.strftime("%A, %B %-d, %Y") %>
            <% start_time = meridian ? appointment.start_time.strftime("%l:%M %P") : appointment.start_time.strftime("%l:%M") %>
            <% end_time = appointment.end_time.strftime("%l:%M %P") %>
            <div class="appointment-feed-date">
              <span><%= date_str %></span>            
            </div>
            <div class="appointment-feed-time">
              <span><%= "#{start_time} - #{end_time}" %></span>
            </div>
            <%= link_to 'Delete Availability', 
              "#{appointment_path(appointment)}?service_id=#{@service.id}", 
              method: :delete, class: "btn btn-danger",
              data: {confirm: 'Are you sure you want to delete this appointment slot?'} %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<br>