<div class="mx-auto text-center">
  <%= link_to 'Back', @service, class: "btn btn-secondary" %>
  <% if session[:user_id] == @service.user_id  %>
    <%= link_to 'Generate Appointments', new_service_appointment_path(@service), class: "btn btn-primary" %>
  <% end %>
</div>

<div class="service-feed">
  <ul class="list-group">
    <% @appointments.each do |appointment| %>
      <li class="list-group-item">
        <%= link_to appointment, method: :patch, data: {confirm: 'Are you sure?'} do %>
          <div class="appointment-feed-item">
            <div class="appointment-feed-date">
              <span><%= appointment.date.to_s %></span>            
            </div>
            <div class="appointment-feed-start">
              <span><%= appointment.start_time.strftime("%I:%M %p") %></span>
            </div>
            <div class="appointment-feed-end">
              <span><%= appointment.end_time.strftime("%I:%M %p") %></span>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<br>