<%= form_with(model: review, url: service_reviews_url(@service)) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :rating, class: "control-label" %>
    <%= form.number_field :rating, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :review, class: "control-label" %>
    <%= form.text_area :review, placeholder: "Some detailed description about your service..." ,class: "form-control" %>
  </div>

  <div class="actions text-center">
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
