<%= form_with(model: review) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="container-fluid">
    <div class="field form-group">
      <%= form.label :service_id %>
      <div class="form-group">
        <%= form.text_field :service_id %>
      </div>
    </div>

    <div class="field form-group">
      <%= form.label :user_id %>
      <div class="form-group">
        <%= form.text_field :user_id %>
      </div>
    </div>
    
    <div class="field form-group">
      <%= form.label :rating %>
      <div class="form-group">
        <%= form.number_field :rating %>
      </div>
    </div>
    
    <div class="field form-group">
      <%= form.label :review %>
      <div class="form-group">
        <%= form.text_field :review %>
      </div>
    </div>

    <div class="actions text-center">
      <%= form.submit %>
    </div>
  </div>
<% end %>
