<h1>Reviews</h1>

<div class="mx-auto text-center">
  <% if session[:user_id]  %>
    <%= link_to 'Create a review', new_service_review_path(@service), class: "btn btn-secondary" %>
  <% else %>
    <%= link_to 'Login to create review', login_path, class: "btn btn-secondary" %>
  <% end %>  
</div>
<br>

<div class="service-feed">
  <ul class="list-group">
    <% @reviews.each do |review| %>
      <li class="list-group-item">
        <%= link_to review do %>
          <div class="service-feed-item">
            <div class="review-feed-title">
              <span><%= review.rating %> / 5 </span>            
            </div>
            <div class="review-feed-title">
              <span><%= review.review %></span>
            </div>
            <div class="review-feed-author">
              <span>Created by <%= review.user.username %></span>
            </div>
            <div class="service-feed-created-at">
              <span><%= review.created_at%></span>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<br>

