<h1>Reviews</h1>

<div class="mx-auto text-center">
  <% if session[:user_id]  %>
    <%= link_to 'Create a review', new_review_path, class: "btn btn-secondary" %>
  <% else %>
    <%= link_to 'Login to create a review', login_path, class: "btn btn-secondary" %>
  <% end %>  
</div>
<br>

<div class="service-feed">
  <ul class="list-group">
    <% @reviews.each do |review| %>
      <li class="list-group-item">
        <%= link_to review do %>
          <div class="service-feed-item">
            <div class="service-feed-title">
              <span><%= review.rating %></span>            
            </div>
            <div class="service-feed-author">
              <span><%= review.review %></span>
            </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
  <div class="service-feed-nav">
    <%== pagy_bootstrap_nav(@pagy) %>  
  </div>
</div>

<br>

