<h1>Reviews</h1>

<div class="mx-auto text-center">
  <%= link_to 'Back', @service, class: "btn btn-secondary" %>
  <% if session[:user_id] != @service.user_id%>
    <% if session[:user_id] %>
      <%= link_to 'Create a review', new_service_review_path(@service), class: "btn btn-primary" %>
    <% else %>
      <%= link_to 'Login to create review', login_path, class: "btn btn-secondary" %>
    <% end %>
  <% end %>
</div>
<br>

<div class="service-feed">
  <ul class="list-group">
    <% @reviews.each do |review| %>
      <% if @service.id == review.service_id  %>
      <li class="list-group-item">
          <div class="service-feed-item">
            <div class="review-feed-title">
              <span><%= review.rating %> / 5 </span>            
            </div>
            <div class="review-feed-title">
              <span><%= review.review %></span>
            </div>
            <div class="review-feed-author">
              <span>Created by <%= review.user.username %></span>
            </div>
            <div class="service-feed-created-at">
              <span><%= review.created_at%></span>
            </div>
          </div>
          <% if session[:user_id] == review.user_id  %>
            <div class="col-3 align-middle text-right">
              <%= link_to 'Delete Review', 
                "#{review_path(review)}?service_id=#{@service.id}", 
                method: :delete, class: "btn btn-secondary btn-sm mt-3 btn-block",
                data: {confirm: 'Are you sure you want to delete this review?'} %>
            </div>
          <% end %>
      </li>
      <% end %>
    <% end %>
  </ul>
  <div class="service-feed-nav">
    <%== pagy_bootstrap_nav(@pagy) %>  
  </div>
</div>
<br>

