<h1>Review</h1>

<div class="mx-auto text-center">
    <%= link_to 'Back', reviews_path, class: "btn btn-secondary" %>
    <% if session[:user_id] == @review.user_id  %>
      <%= link_to 'Edit', edit_review_path(@review), class: "btn btn-primary" %>
    <% end %>
</div>

<div class='service-container container'>
  <div class='service-info'>
    <div class='service-meta'>
      Posted by <span class='service-author'><%= @review.user.username %></span> on <span class='service-created-at'><%= @review.created_at %></span>
    </div>
    <div class='service-description'>
      <%= simple_format(@review.review) %>
    </div>
  </div>
</div>
